﻿
/*
	Border bar: #6a930f
	Red: FF5934
*/

body 
{
	padding: 0;
	margin: 0;
	background: #0099ff;
	height:auto;
	font-family:Arial, Tahoma, Helvetica, sans-serif;
	font-size:9pt;
	color:#252525;
}

input, textarea, select{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9pt;
	background:#FFFFFF;
	padding:2px;
	border:1px solid #CCCCCC;
}

.textbox {
	height:16px;
}

a{
	text-decoration:none;
	color:#252525;
}

a:hover{
	color:#FF5934;
	text-decoration:underline;
}

.a_title{
	color:#FFF;
}

.a_title:hover{
	color:#FFF;
	text-decoration:underline;
}

.a_doihinhkhac{
	color:#000099;
}

.a_doihinhkhac:hover{
	color:#FF5934;
}

img{
	border:none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p{
	margin:0;
	padding:0;
}

/*====================================Button===================================*/
.buttons{
	float:left;
	margin-top:5px;
}

.buttons .a_link{
    display:block;
    float:left;
    margin:0;
    background-color:#fc7707;
    border:1px solid #e96c03;
    border-top:1px solid #de5f5f;
    border-left:1px solid #de5f5f;
    line-height:16px;
    text-decoration:none;
	text-align:center;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
    padding:3px 10px 5px 7px; /* Links */
    -moz-border-radius:3px;
}

.buttons .a_link .img_icon{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

.buttons .a_link:hover{
    background-color:#ea4911;
    border:1px solid #df3b02;
    color:#FFF;
}

.buttons .a_link:active{
    background-color:#fc284b;
    border:1px solid #df3b02;
    color:#fff;
}

.buttons .a_link.btn_black{
    background:#fc7707;
    border:1px solid #e96c03;
    color:#fff;
}

.buttons .a_link.btn_black:hover{
    background:#e96c03;
    border:1px solid #e96c03;
    color:#fff;
}

.buttons .a_link.btn_black:active{
    background:#e97310;
    border:1px solid #e96c03;
    color:#fff;
}

/*====================================Page===================================*/
#page_website{
	width:980px;
	height:auto;
	margin: 0px auto;
}

#page_content{
	width:100%;
	height:auto;
	float:left;
	background:#FFF;
}

.div_banner{
	width:100%;
	float:left;
	background: #e28318 url(../images/bg_banner.png) repeat-x;
}

.div_menu{
	width:100%;
	height:40px;
	float:left;
	margin-top:1px;
	background: #0050a8;
}

.div_content{
	width:100%;
	margin-top:5px;
	float:left;
}

.div_footer{
	width:100%;
	float:left;
	margin-top:5px;
	background:#fff;
}

/*====================================Content===================================*/
.div_content_left{
	width:200px;
	margin-left:5px;
	float:left;
}

.div_content_center{
	width:560px;
	margin-left:5px;
	float:left;
}

.div_content_right{
	width:200px;
	margin-right:5px;
	float:right;
}

.div_content_center_heart{
	width:560px;
	float:left;
	margin-bottom:5px;
}

/*====================================Menu Top===================================*/
.div_menu_left{
	width:850px;
	height:40px;
	float:left;
}

.div_menu_right{
	width:130px;
	height:40px;
	float:right;
	background:url(../images/icon_cart.png) no-repeat;
}

/*=========================================== Menu css ===============================================*/
#nav {
	padding:0; 
	margin:0; 
	list-style:none; 
	position:relative; 
	z-index:500;
}
#nav li.top {
	float:left; 
	display:block;
	height:40px;
	/*background:url(../images/menu_line.png) top right repeat-y;
	padding-right:1px;*/
}

#nav li a.top_link {
	color:#fff; 
	text-decoration:none; 
	font-weight:bold;
	display:block;
	margin:5px 8px;
	padding: 5px 15px;
	line-height:20px;
	text-transform:uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#nav li a.selected,
#nav li:hover a.top_link{
	color:#e76c0e;
	background:#FFF;
}

/* Default list styling */
#nav li:hover {
	position:relative; 
	z-index:200;
}

#nav li:hover ul.sub{
	left:8px; 
	top:37px; 
	background:#ffbc03; 
	padding:5px;
	white-space:nowrap; 
	width:200px; 
	height:auto; 
	z-index:300;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav li:hover ul.sub li{
	display:block; 
	position:relative; 
	float:left; 
	width:200px; 
	height:30px;
	border-bottom:1px solid #ffd740;
}
#nav li:hover ul.sub li.last{
	border-bottom:none;
}
#nav li:hover ul.sub li a{
	display:block;
	line-height:18px;
	color:#4c2002; 
	text-decoration:none;
	padding:6px 10px;
}
#nav li ul.sub li a.fly{
	background:url(../images/arrow_menu.png) 190px 10px no-repeat;
}
#nav li:hover ul.sub li a:hover {
	color:#FFF; 
}
#nav li:hover ul.sub li a.fly:hover{
	color:#FFF;
	background:url(../images/arrow_menu_over.png) 190px 10px no-repeat;
}


#nav li:hover li:hover ul,
#nav li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover ul,
#nav li:hover li:hover li:hover li:hover li:hover ul{
	left:200px; top:-4px; background: #ffbc03; padding:5px; white-space:nowrap; width:200px; z-index:400; height:auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #dfa402;
}

#nav ul, 
#nav li:hover ul ul,
#nav li:hover li:hover ul ul,
#nav li:hover li:hover li:hover ul ul,
#nav li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover li:hover a.fly,
#nav li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover a.fly,
#nav li:hover li:hover li:hover li:hover li:hover a.fly
{color:#FFF;background:url(../images/arrow_menu_over.png) 190px 10px no-repeat;} 

#nav li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li a.fly,
#nav li:hover li:hover li:hover li:hover li a.fly
{color:#4c2002;background:url(../images/arrow_menu.png) 190px 10px no-repeat;} 


/*============================== Gio hang ===========================*/
.div_menu_right .span_giohang{
	float:left;
	margin:13px 0px 0 30px;
	font-weight:bold;
	color:#833704;
} 

.div_menu_right .span_giohang a{
	color:#fff;
}

/*====================================Box===================================*/
.div_box{
	width:200px;
	float:left;
	margin-bottom:10px;
}

.div_box .div_box_header{
	height:40px;
	width:100%;
	background: #0050a8;
	border-radius: 5px 5px 0px 0px;
	float:left;
}

.div_box .div_box_content{
	width:198px;
	float:left;
	border-left:1px solid #6a930f;
	border-right:1px solid #6a930f;
	border-bottom:1px solid #6a930f;
}

.div_box .div_box_content_bg{
	
}

.div_box .div_box_header h3{
	color:#FFF;
	line-height:28px;
	padding:6px 0px 6px 15px;
	font-size:10pt;
	margin:0;
	/*background:url(../images/icon_box.png) no-repeat;*/
	text-transform:uppercase;
}

/*====================================Box2===================================*/
.div_box2{
	width:560px;
	float:left;
	margin-bottom:5px;
}

.div_box2 .div_box2_header{
	height:40px;
	width:100%;
	background: #0050a8;
	border-radius: 5px 5px 0px 0px;
	float:left;
}

.div_box2 .div_box2_header .div_box2_header_left{
	height:0px;
	width:40px;
	/*background:url(../images/box2_title_left.png);*/
	float:left;
}

.div_box2 .div_box2_header .div_box2_header_left img{
	height:0px;
	width:0px;
	float:left;
	visibility:hidden;
}

.div_box2 .div_box2_header h3{
	color:#FFF;
	line-height:28px;
	padding:6px 0px 6px 15px;
	font-size:10pt;
	margin:0;
	text-transform:uppercase;
}

.div_box2 .div_box2_content{
	width:558px;
	float:left;
	border-left:1px solid #6a930f;
	border-right:1px solid #6a930f;
	border-bottom:1px solid #6a930f;
}

.div_box2 .div_box2_content .div_box2_content_bottom{
	width:540px;
	height:26px;
	float:left;
	margin:10px 9px 0 9px;
}

/*====================================Menu Left===================================*/
.ul_menu { 
	margin: 0 9px; 
	padding: 0; 
	list-style: none;
} 

.ul_menu li { 
	cursor: pointer;
	line-height:18px;
	min-height:26px;
} 

.ul_menu ul{ 
	margin: 0 0 0 0px; 
	padding: 0; 
	list-style: none;
}

.ul_menu li li{ 
	cursor: pointer;
	line-height:16px;
	min-height:26px;
}

.ul_menu a { 
	display: block; 
	padding:5px 0 5px 10px;
	border-top:1px solid #6a930f;
	background:url(../images/icon_arrow.png) no-repeat;
	color:#444444;
	font-weight:bold;
}

.ul_menu a:hover { 
	color: #FF5934;
	text-decoration:none;
}

.ul_menu li a.first { 
	border-top:none;
} 

.ul_menu li li a{ 
	padding:5px 0;
	background:none;
	padding-left:15px;
	font-weight:normal;
}

.ul_menu .a_weblink{
	color: #444444;
}

.ul_menu .a_weblink:hover{
	color: #FF5934;
	text-decoration:underline;
}

/*====================================Thong Ke===================================*/
.div_onethongke{
	margin:5px 5px 0 10px;
	padding:0;
	line-height:16px;
	float:left;
	width:180px;
}

.div_onethongke img{
	height:16px;
	vertical-align:middle;
}

/*====================================Tin tuc trai or phai===================================*/
.div_onetintuc{
	margin:0px 10px;
	padding:10px 0px;
	border-bottom:1px solid #6a930f;
	float:left;
	width:180px;
}

.div_onetintuc .div_onetintuc_image{
	margin-right:5px;
	float:left;
	border:#cccccc solid 1px;
	width:50px;
	height:50px;
}

.div_onetintuc img{
	width:50px;
	height:50px;
}

.div_onetintuc .div_onetintuc_detail{
	width:120px;
	float:left;
	text-align:justify;
}

.div_onetintuc a{
	font-size:8pt;
	line-height:16px;
}

/*==================================Tin tuc giua========================================*/
.div_tintuc{
	float:left;
	margin:0 10px;
	padding:10px 0;
	border-bottom:#6A930F 1px dotted;
}

.div_tintuc .div_tintuc_image{
	float:left;
	border:#6A930F solid 1px;
	width:80px;
	height:80px;
	margin-right:10px;
}

.div_tintuc .div_tintuc_image img{
	width:80px;
	height:80px;
}

.div_tintuc .div_tintuc_detail{
	width:445px;
	float:left;
}

.div_tintuc .div_tintuc_detail h3{
	font-size:10pt;
	font-weight:bold;
	margin:0;
	padding:0;
	line-height:16px;
	margin-bottom:5px;
	float:left;
}

.div_tintuc .div_tintuc_detail a{
	color:#000000;
}

.div_tintuc .div_tintuc_detail a:hover{
	color:#FF5934;
}

.div_tintuc .div_tintuc_detail .p_thoigian{
	font-size:8pt;
	margin:0 0 5px 0;
	padding:0;
	line-height:14px;
	font-style:italic;
	width:100%;
	float:left;
}

.div_tintuc .div_tintuc_detail .p_chitiet{
	font-size:8pt;
	margin:0;
	padding:0;
	line-height:14px;
	text-align:justify;
	width:100%;
	float:left;
}

/*====================================Dang nhap===================================*/
.p_text{
	width:180px;
	margin:0 10px 5px 10px;
	padding:0;
	line-height:16px;
	float:left;
}

.p_line{
	margin-left:5px;
	line-height:16px;
	margin-bottom:3px;
}

.p_line img{
	width:12px;
	height:12px;
}

.p_bold{
	font-weight:bold;
	line-height:16px;
}

.a_logout{
	font-weight:bold;
	color:#FF5934;
}

.a_quantrigianhang{
	color:#0B55C4;
	text-decoration:underline;
}

.a_quantrigianhang:hover{
	color:#FF5934;
}

/*-=======================================Product ben trai or phai=================================*/
.div_oneproduct{
	width:180px;
	float:left;	
	padding:10px 0px;
	border-bottom:#6A930F 1px dotted;
}

.div_oneproduct .div_oneproduct_img{
	width:98px;
	height:98px;
	border:none;
	margin:0 40px 5px 40px;
	float:left;	
	border: 1px solid #FFF;
	vertical-align:middle;
	text-align:center;
}

.div_oneproduct .div_oneproduct_img:hover{
	border: 1px solid #FF5934;
}

.div_oneproduct .div_oneproduct_img img{
	max-width:98px;
	max-height:98px;
}

.div_oneproduct .span_title_product{
	float:left;
	width:100%;
	text-align:center;
	font-weight:bold;
	line-height:16px;
	max-height:32px;
	min-height:32px;
	overflow:hidden;
	margin-bottom:3px;
}

.div_oneproduct .span_price{
	float:left;
	width:100%;
	line-height:16px;
	max-height:16px;
	color:#FF5934;
	text-align:center;
}

.wrapper {
  height: 530px; 
  overflow: auto;
  min-width: 200px;
  position: absolute;
  top: 0;
}

.wrapper ul {
  height: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.wrapper ul li {
  float:left;
  height: 180px;
  width: 180px;
  padding: 0px 10px;
}

/*-=======================================Module san pham giua=================================*/
.div_product{
	float:left;
	width:540px;
	margin:0 9px 10px 9px;
}
.div_product .div_onemoduleproduct{
	width:170px;
	margin-left:15px;
	float:left;
}

.div_product .div_onemoduleproduct .div_onemoduleproduct_img{
	width:118px;
	height:118px;
	margin:0 25px 5px 25px;
	float:left;	
	border: 1px solid #FFF;
	vertical-align:middle;
	text-align:center;
}

.div_product .div_onemoduleproduct .div_onemoduleproduct_img:hover{
	border: 1px solid #FF5934;
}

.div_product .div_onemoduleproduct .div_onemoduleproduct_img img{
	max-width:118px;
	max-height:118px;
}

.div_product .div_oneproductlist{
	width:120px;
	margin-left:20px;
	float:left;
}

.div_product .div_oneproductlist .div_oneproductlist_img{
	width:100px;
	height:100px;
	margin:0 10px 5px 10px;
	float:left;	
	border: 1px solid #FFF;
	vertical-align:middle;
	text-align:center;
}

.div_product .div_oneproductlist .div_oneproductlist_img img{
	max-width:100px;
	max-height:100px;
}

.div_product .div_oneproductlist .div_oneproductlist_img:hover{
	border: 1px solid #FF5934;
}

.div_product .span_title_product{
	float:left;
	width:100%;
	font-size:8pt;
	text-align:center;
	line-height:14px;
	margin-bottom:3px;
}

.div_product .span_price{
	float:left;
	width:100%;
	line-height:16px;
	font-weight:bold;
	color:#FF5934;
	text-align:center;
}


/*-=======================================PRODUCT 1=================================*/
.div_pro1_row{
float:left;
}
.div_pro1{
	float:left;
	width:170px;
	margin:5px 0 10px 15px;
}
.div_pro1.first{
	margin-left:9px;
}

.div_pro1 .div_pro1_img{
	width:160px;
	height:160px;
	margin:0 4px 5px 4px;
	float:left;	
	border: 1px solid #b4d641;
	vertical-align:middle;
	text-align:center;
}

.div_pro1 .div_pro1_img:hover{
	border: 1px solid #c60404;
}

.div_pro1 .div_pro1_img img{
	max-width:160px;
	max-height:160px;
}

.div_pro1 .h3_title_pro1{
	float:left;
	width:100%;
	font-size:12px;
	text-align:center;
	line-height:18px;
	height:18px;
	max-height:18px;
	margin-bottom:5px;
	overflow:hidden;
}

.div_pro1 .div_pro1_price{
	float:left;
	width:100%;
	height:40px;
}

.div_pro1 .s_price_pro1{
	float:left;
	width:100%;
	line-height:20px;
	font-weight:bold;
	color:#c60404;
	text-align:center;
	font-size:125%;
}

.div_pro1 .s_price_pro1.linethrough{
	font-size:100%;
	color:#666666;
	text-decoration:line-through;
}

/*==================================Paging========================================*/
.div_paging{
	height:24px;
	text-align: center;
}

.div_paging ul{
	width:auto;
	margin:0 auto;
	padding:0;
}

.div_paging li{
	display: inline;
	height:22px;
	line-height:22px;
	padding:1px;
}

.div_paging a{
	font-size:8pt;
	font-weight:bold;
	padding:0px 8px;
	display:inline-block;
	background:#FF5934;
	color:#FFFFFF;
}

.div_paging a:hover,
.div_paging .paging_active a{
	color:#222;
	background:#b0d339;
	text-decoration:none;
}

.div_paging .span_total{
	float:right;
	line-height:24px;
	font-weight:bold;
}

/*====================================Footer===================================*/
.div_footer .div_footer_linkmenu{
	float:left;
	width:100%;
	height:30px;
	background:#1B16E0;
	border-top:2px solid #6A930F;
}

.div_footer .div_footer_content{
	float:left;
	width:100%;
	color:#D73800;
	padding: 10px;
}

.div_footer .p_linetext{
	text-align:center;
	color:#D73800;
	font-weight:bold;
	padding:0;
	margin:5px 0 0 0;
	line-height:18px;
	width:100%;
}

.div_footer a{
	padding:2px 5px;
	color:#000;
}

.div_footer a:hover{
	color:#b4d641;
}

.div_footer .a_gianhangvn{
	color:#000;
	margin-right:10px;
}

.div_footer .a_gianhangvn:hover{
	color:#CC9900;
}

/*====================================Chi tiet san pham===================================*/
.div_chitietsanpham{
	width:100%;
	float:left;
}

.div_chitietsanpham h1{
	font-size:12pt;
	font-weight:bold;
	margin:5px 0 10px 5px;
	padding:0;
	line-height:20px;
}

.div_chitietsanpham .div_chitietsanpham_img{
	float:left;
	width:200px;
	border:1px solid #FF5934;
	vertical-align:middle;
	text-align:center;
}

.div_chitietsanpham .div_chitietsanpham_img img{
	max-width:200px;
	max-height:200px;
	
}

.div_chitietsanpham .div_chitietsanpham_detail{
	float:left;
	width:340px;
	margin-left:10px;
}

.div_chitietsanpham .div_chitietsanpham_detail .span_left{
	color:#666;
	font-size:8pt;
}

.div_chitietsanpham .div_chitietsanpham_detail .span_price{
	font-size:12pt;
	font-weight:bold;
	color:#960000;
}

.div_chitietsanpham .div_chitietsanpham_detail .span_line_through{
	text-decoration:line-through;
}

.div_chitietsanpham .div_chitietsanpham_detail .div_mota{
	float:left;
	line-height:16px;
	margin:5px 0;
	padding-top:5px;
	text-align:justify;
	border-top:1px dashed #999;
	width:340px;
	height:auto;
	overflow:hidden;
	max-height:50px;
}

.div_chitietsanpham .div_chitietsanpham_detail .div_morong{
	float:left;
	width:340px;
	text-align:right;
}

.div_chitietsanpham .div_chitietsanpham_detail .div_morong a{
	font-size:8pt;
	color:#003399;
	padding-right:10px;
}

.div_chitietsanpham .div_chitietsanpham_detail .div_morong .expand{
	background:url(../images/icon_expand.png) no-repeat right center;
}

.div_chitietsanpham .div_chitietsanpham_detail .div_morong .collapse{
	background:url(../images/icon_collapse.png) no-repeat right center;
}

/* ==========================================Tab control================================================== */

ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 28px;
	border-bottom: 1px solid #6a930f;
	border-left: 1px solid #6a930f;
	width: 558px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 27px;
	line-height: 27px;
	border: 1px solid #6a930f;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	font-weight:bold;
}
ul.tabs li a:hover {
	background: #ccc;
}	

ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

.tab_container {
	border: 1px solid #6a930f;
	border-top: none;
	clear: both;
	float: left; 
	width: 558px;
}
.tab_content {
	padding: 14px;
	float:left;
	width:530px;
}

/*======================================Noi dung chi tiet san pham==============================================*/
.div_noidungchitietsanpham{
	width:100%;
}

.div_noidungchitietsanpham img{
	max-width:520px;
}
 
.div_noidungchitietsanpham table{
	max-width:540px;
}

/*======================================Binh luan==============================================*/
.div_binhluan{
	width:100%;
	float:left;
	border-bottom: 1px solid #6a930f;
	padding-bottom:10px;
	margin-top:5px;
}

.div_binhluan h4{
	margin:0 0 3px 0;
	padding:0;
	line-height:18px;
	font-size:10pt;
	font-weight:bold;
}

.div_binhluan .p_chitiet{
	margin:0 0 5px 0;
	padding:0;
	line-height:18px;
	text-align:justify;
}

.div_binhluan .p_nguoibinhluan{
	margin:0 0 3px 0;
	padding:0;
	line-height:18px;
	color:#666;
	font-style:italic;
}

.div_binhluan .p_titlebinhluan{
	margin:0 0 3px 0;
	padding:0;
	line-height:18px;
	border-bottom: 2px solid #FF5934;
	color:#000099;
}

.span_batbuoc{
	color:#FF0000;
	font-weight:bold;
	margin-left:3px;
}

/*============================================San pham cung danh muc======================================================*/
.infiniteCarousel {
	width: 558px;
	position: relative;
}

.infiniteCarousel .wrapper_sanphamlist {
	width: 480px; 
	overflow: auto;
	margin: 0 39px;
	position: absolute;
	top: 0;
	min-height: 180px;
}

.infiniteCarousel .wrapper_sanphamlist ul {
  width: 9999px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  position: absolute;
  top: 0;
}

.infiniteCarousel ul li {
  display:block;
  float:left;
  padding: 10px;
  width: 140px;
  height:140px;
}

.infiniteCarousel .arrow {
  display: block;
  height: 36px;
  width: 37px;
  background: url(../images/arrow.png) no-repeat 0 0;
  text-indent: -999px;
  position: absolute;
  top: 67px;
  cursor: pointer;
}

.infiniteCarousel .forward {
  background-position: 0 0;
  right: 0;
}

.infiniteCarousel .back {
  background-position: 0 -72px;
  left: 0;
}

.infiniteCarousel .forward:hover {
  background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
  background-position: 0 -108px;
}

/*-=======================================Module san pham giua=================================*/
.div_sanpham_cungloai{
	width:140px;
	float:left;
}

.div_sanpham_cungloai .div_sanpham_cungloai_img{
	width:100px;
	height:100px;
	margin:0 19px 5px 19px;
	float:left;	
	border: 1px solid #FFF;
}

.div_sanpham_cungloai .div_sanpham_cungloai_img:hover{
	border: 1px solid #FF5934;
}

.div_sanpham_cungloai .div_sanpham_cungloai_img img{
	max-width:100px;
	max-height:100px;
}

.div_sanpham_cungloai .span_title_product{
	float:left;
	width:100%;
	font-size:8pt;
	text-align:center;
	line-height:14px;
	margin-bottom:3px;
}

.div_sanpham_cungloai .span_price{
	float:left;
	width:100%;
	line-height:16px;
	font-weight:bold;
	color:#FF5934;
	text-align:center;
}

/*==================================Detail tin tuc========================================*/
.div_chitiettintuc_content{
	width:550px;
	margin-top:5px;
	padding:0 5px;
}

.div_chitiettintuc_content img{
	max-width:520px;
}

.div_chitiettintuc_content table{
	max-width:540px;
}

.div_chitiettintuc_content .h1_tieude{
	font-size:14pt;
	font-weight:bold;
	padding:0;
	margin:0;
	line-height:24px;
}

.div_chitiettintuc_content .h3_tomtat{
	font-size:9pt;
	font-weight:bold;
	color:#5F5F5F;
	padding:0;
	margin:0;
	line-height:18px;
	text-align:justify;
}

.div_chitiettintuc_content .p_thoigian{
	font-style:italic;
	color:#666;
	padding:0;
	margin:5px 0;
}

.div_chitiettintuc_content .div_chitiet{
	padding:0;
	margin:10px 0 0 0;
	text-align:justify;
}


.div_chitiettintuc_khac{
	width:550px;
	margin:30px 5px 5px 5px;
}

.div_chitiettintuc_khac .p_tinmoi{
	font-size:10pt;
	font-weight:bold;
	padding:0;
	margin:0 0 5px 0;
	color:#990000;
	border-bottom: 2px solid #FF5934;
}

.div_chitiettintuc_khac ul{
	padding:0;
	margin:0 0 0 30px;
}

.div_chitiettintuc_khac li{
	padding:0;
	margin:0;
}

.div_chitiettintuc_khac li a{
	line-height:20px;
}

.div_chitiettintuc_khac li span{
	font-style:italic;
	color:#666;
	font-size:8pt;
}

/*=================================== GIO HANG ==========================================*/
.div_giohang{
	float:left;
	width:560px;
}

.div_giohang h3{
	background:#b3d540;
	line-height:38px;
	color:#444444;
	margin:0;
	padding:0 0 0 10px;
	font-size:10pt;
	text-transform:uppercase;
}

.tblGioHang
{
	margin:10px 10px 5px 10px;
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #CCCCCC;
}
.tblGioHang th
{
    background-color:#F2F2F2;
    font-weight:bold;
    color:black;
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    height:30px;
}
.tblGioHang td
{
    border-bottom: solid 1px #CCCCCC;
    border-right: solid 1px #CCCCCC;
    padding:7px 3px;
}
.tblGioHang .aChiTietSanPham
{
    text-decoration:none;
    color:#003197;
}
.tblGioHang .aChiTietSanPham:hover
{
    text-decoration:underline;
    color:red;
}
.tblGioHang .spanSoTien
{
    color:red;
}
.tblGioHang .spanTongTien
{
    color:red;
    font-weight:bold;
}
.tblGioHang .tdChuaCoSanPham
{
	color:Red;
	text-align:center;
	height:35px;
}

.tblGioHang .img_xoa{
	border:none;
	width:16px;
	height:16px;
	margin-right:2px;
	margin-left:5px;
	float:left;
}

.tblGioHang .span_xoa{
	line-height:16px;
	height:16px;
	float:left;
}

.tblGioHang .a_xoa{
	height:16px;
	line-height:16px;
	font-weight:bold;
	color:#990000;
}

.tblGioHang .a_xoa:hover{
	height:16px;
	line-height:16px;
	font-weight:bold;
	color:#000099;
}

/*=================================== Tooltip Image San Pham ==========================================*/
#preview{
	position:absolute;
	border:3px solid #d0d7e0;
	background:#FFF;
	padding:10px;
	display:none;
	color:#fff;
	text-align:center;
	border-radius: 5px;
}
#preview .tieude_sanpham{
	width:100%;
	color:#000;
	text-align:center;
	margin:5px 0 0 0;
	padding:0;
}
#preview .gia_sanpham{
	width:100%;
	color:#FF5934;
	text-align:center;
	font-size:10pt;
	font-weight:bold;
	margin:5px 0 0 0;
	padding:0;
}


/*=============================== MORE ===============================*/

.div_logo{
	float:left;
}
.p_title_banner{
	font-size:24pt;
	font-weight:bold;
	line-height:40px;
	color:#444444;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
	font-family:"Times New Roman", Tahoma, Times, serif;
}

.divMessage
{
	font-family:Arial, Tahoma;
	font-size:10pt;
	color:Red;
	padding:15px 0px;
	text-align:center;
	width:100%;
}

.spanHetHang
{
	color:#FF5934;
	font-weight:bold;
}



/*========================================= SILDE HEART BANNER ==================================*/

.wt-rotator{
	background-color:#000;
	position:relative;
	width:560px;
	overflow:hidden;
}
.wt-rotator a{
	outline:none;
}
.wt-rotator .screen{
	position:relative;
	top:0;
	left:0;
	width:560px;
	overflow:hidden;
}
.wt-rotator #strip{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	overflow:hidden;
}
.wt-rotator .content-box{
	display:none;
	position:absolute;
	top:0;
	left:0;
	overflow:hidden;
}
.wt-rotator .main-img{
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	border:0;
}
.wt-rotator .preloader{
	position:absolute;
	top:50%;
	left:50%;
	width:36px;
	height:36px;
	margin-top:-18px;
	margin-left:-18px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#000 url(assets/loader.gif) center no-repeat;
	background:rgba(0,0,0,.7) url(assets/loader.gif) center no-repeat;
	z-index:4;
	display:none;
}
.wt-rotator #timer{
	position:absolute;
	left:0;
	height:4px;
	background-color:#FFF;
	-moz-opacity:.5;
	filter:alpha(opacity=50);
	opacity:0.5;
	z-index:4;
	visibility:hidden;
	font-size:0;
}
.wt-rotator .desc{
	color:#000;
	position:absolute;
	color:#FFF;
	z-index:6;
	overflow:hidden;
	visibility:hidden;
	text-align:left;
}
.wt-rotator .inner-bg{
	position:relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000;
	-moz-opacity:.7;
	filter:alpha(opacity=70);
	opacity:.7;
	z-index:0;
}
.wt-rotator .inner-text{
	position:absolute;
	top:0;
	left:0;
	padding:10px;
	width:auto;
	height:auto;
	z-index:1;
}
.wt-rotator .c-panel{
	position:absolute;
	top:0;
	z-index:7;
	visibility:hidden;
}
.wt-rotator .outer-cp{
	position:absolute;
	left:0;
	width:100%;
	background:#333;
	background:-moz-linear-gradient(top, #999 0%, #333 50%, #000 51%, #111 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#999), color-stop(50%,#333), color-stop(51%,#000), color-stop(100%,#111));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#111111',GradientType=0);
	border:1px solid #000;
	border-left:none;
	border-right:none;
}
.wt-rotator .thumbnails,
.wt-rotator .exe-buttons{
	display:inline;
	position:relative;
	float:left;
	overflow:hidden;
}
.wt-rotator .thumbnails ul{
	list-style:none;
	margin:0;
	padding:0;
}
.wt-rotator .thumbnails li,
.wt-rotator .play-btn,
.wt-rotator .prev-btn,
.wt-rotator .next-btn{
	list-style:none;
	display:inline;
	float:left;
	margin-right:4px;
	overflow:hidden;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	color:#FFF;
	background-color:#eb780e;
	/*border:1px solid #000;*/
	cursor:pointer;
	font-weight:bold;
}
.wt-rotator .thumbnails li.thumb-over{
	color:#FFF;
	background-color:#ffca22;
}
.wt-rotator .thumbnails li.curr-thumb{
	color:#000;
	background-color:#ffca22;
	cursor:default;
}
.wt-rotator .thumbnails li.image{
	background-color:#eb780e;
}
.wt-rotator .thumbnails li.image.curr-thumb,
.wt-rotator .thumbnails li.image.thumb-over{
	border-color:#06F;
}
.wt-rotator .thumbnails li.image a,
.wt-rotator .thumbnails li.image img{
	display:block;
	border:0;
}
.wt-rotator .thumbnails li.image.curr-thumb img{
	-moz-opacity:.8;
	filter:alpha(opacity=80);
	opacity:0.8;
	cursor:default;
}
.wt-rotator .thumbnails li *{
	display:none;
}
.wt-rotator .thumbnails li div{
	position:relative;
	color:#FFF;
	background-color:#000;
	width:auto;
	height:auto;
}
.wt-rotator .play-btn{
	background:#eb780e url(../images/play.png) no-repeat center;
}
.wt-rotator .pause{
	background:#eb780e url(../images/pause.png) no-repeat center;
}
.wt-rotator .prev-btn{
	background:#eb780e url(../images/prev.png) no-repeat center;
}
.wt-rotator .next-btn{
	background:#eb780e url(../images/next.png) no-repeat center;
}
.wt-rotator .button-over{
	background-color:#ffca22;
}

.wt-rotator .block,
.wt-rotator .vpiece,
.wt-rotator .hpiece{
	position:absolute;
	z-index:2;
}

/*====================================Page===================================*/
.btn_muahang{
	float:right;
	width:80px;
	height:20px;
	background:url(../images/btn_muahang.png);
	margin-top:8px;
}

/*-=======================================Module san pham giua co detail=================================*/
.div_detail_product{
	float:left;
	width:540px;
	max-height:160px;
	height:160px;
	margin:2px 9px 2px 9px;
	padding-top:10px;
	border-top:1px dotted #CCC;
}

.div_detail_product_first{
	border-top:none;
}

.div_detail_one_product{
	float:left;
	width:250px;
	padding-right:14px;
	border-right:1px solid #CCC;
    margin-bottom: 15px;
    margin-left: 10px;
}

.div_chan{
	margin-left:15px;
	padding-right:5px;
	border-right:none;
}

.div_detail_one_product h1{
	float:left;
	width:100%;
	font-size:8pt;
	font-weight:bold;
	line-height:15px;
	max-height:30px;
	overflow:hidden;
	color:#0055A2;
	margin-bottom:5px;
}
.div_detail_one_product a{
	color:#0055A2;
}

.div_detail_one_product .div_detail_one_product_img{
	float:left;	
	width:100px;
	height:120px;
	vertical-align:middle;
	text-align:center;
}

.div_detail_one_product .div_detail_one_product_img img{
	max-width:100px;
	max-height:120px;
}

.div_detail_one_product .div_detail_one_product_chitiet{
	float:left;
	width:145px;
	margin-left:5px;
}

.div_detail_one_product .div_detail_one_product_chitiet .p_dop_line{
	float:left;
	width:100%;
	line-height:14px;
	font-size:8pt;
	margin-bottom:3px;
}

.div_detail_one_product .div_detail_one_product_chitiet .p_dop_detail{
	max-height:55px;
	overflow:hidden;
}

.div_detail_one_product .div_detail_one_product_chitiet .span_dop_price{
	font-weight:bold;
	color:#c60404;
	font-size:9pt;
}

.div_detail_one_product .div_detail_one_product_chitiet .span_dop_main_price{
	text-decoration:line-through;
}

/*=============================================== Thanh toan truc tuyen =====================================================*/
.div_thanhtoan{
	float:left;
	width:100%;
}

.div_thanhtoan .p_thanhtoan{
	width:100%;
	line-height:30px;
	text-transform:uppercase;
	font-weight:bold;
	font-size:16pt;
	text-align:center;
	color:#C60404;
	margin-bottom:10px;
}

.div_onethanhtoan{
	float:left;
	width:170px;
	border:1px solid #CCC;
	margin-left:11px;
	margin-top:10px;
}

.div_onethanhtoan img{
	max-width:150px;
	margin:10px 0 5px 10px;
}

.div_onethanhtoan .div_onethanhtoan_radio{
	width:100%;
	text-align:center;
	min-height:20px;
	background:#E1E7EF;
	border-top:1px solid #CCC;
	padding:5px 0px;
}

.spanChuaKichHoat
{
	font-style:italic;
	color:Red;
}


/*====================================Menu Left===================================*/
.ul_menu2 { 
	list-style: none;
	width: 198px; /* Width of Menu Items */
} 

.ul_menu2 li { 
	position: relative; 
	cursor: pointer;
	width:100%;
	min-height:28px;
	line-height:16px;
} 

.ul_menu2 li.first {
	border-top:none;
}

.ul_menu2 li ul { 
	position: absolute; 
	list-style: none;
	left: 195px; /*Set 1px less than menu width */ 
	top: 0; 
	display: block;
	z-index: 100;
	margin:0;
	background:#FFF;
	/*border:#6a930f solid 1px;*/
	border-left:#6a930f solid 1px;
	border-right:#6a930f solid 1px;
	width: 200px;
} 
.ul_menu2 li{
	border-top:#6a930f solid 1px;
}
.ul_menu2 li:last-child{
	border-bottom:#6a930f solid 1px;
}
.ul_menu2 li:hover ul {
	display: block; 
} 

.ul_menu2 li:hover>ul { 
	visibility:visible; 
} 

.ul_menu2 ul {
	visibility:hidden; 
} 

/* Fix IE. Hide from IE Mac \*/ 
* html .ul_menu2 ul li { float: left; height: 1%; } 
* html .ul_menu2 ul li a { height: 1%; } 
/* End */


/* Make-up syles */ 

/* ------------------ Parent Menu --------------------- */ 
.ul_menu2 a { 
	display: block; 
	background: #FFF; /* IE6 Bug */ 
	margin:0 5px 0 10px;
	padding-top:7px;
	font-weight:bold;
}

.ul_menu2 a:hover { 
	color: #E2144A;
}

/* Icon Styles */ 
.ul_menu2 a.submenu {background:#fff url("../images/icon_arrow.png") no-repeat right;}
.ul_menu2 a.submenu:hover {background:#fff url("../images/icon_arrow.png") no-repeat right;}


.div_facebook_google{
	float:left;
	width:100%;
	margin-top:10px;
	padding:5px 0 5px;
}

.news_box_images{
    width: 140px;
    float: left;
    margin-right: 10px;
}
.news_box_title{
    font-size: 13px;
}
.news_box_title a{
    text-decoration: none;
}
#breadcrumb{
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: red;
    background: #FDC208;
}
.news_page_title{
    color: #faa61a;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px 0px 25px;
}
.news_box{
    margin-bottom: 10px;
}
.other_news_title{
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #FE6600;
    font-size: 14px;
}
.other_news ul{
    margin-left: 10px;
}
.other_news ul li{
    line-height: 22px;
    padding-left: 17px;
    background: url('../images/bullet.gif') no-repeat center left;
}
.other_news ul li a{
    color: #333;
}
.clear, .clear_both{
    clear: both;
}
.post_container{
    overflow: hidden;
}

#pc_detail{border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);background: #fff;padding: 5px;}
#pc_detail .pro_row{padding-bottom: 0;}
#pc_detail .left{width: 230px;}
#pc_detail .left a{color: #555;}
#pc_detail .left .sb3{padding-top: 10px;}
/*----------------theme04b-----------------*/
#theme04b .m_top{background:url(../images/theme02b/tab_1.png) repeat-x center top;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;}
#theme04b .scart{background:url(../images/theme02b/cart_bg.png);}
#theme04b .menusub{background:url(../images/theme02b/menu_bg.png) repeat-x left top;}
#theme04b .menusub ul li ul{background:url(../images/transparent.png);border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;}
#theme04b .lead_h1{border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
#theme04b .lead_h1 h1{border-radius:5px;-moz-border-radius:5px;}
#theme04b .main_sub{float: left;}
#theme04b .hbimg{height: 150px;border: 1px solid #eee;}
#theme04b .hbimg a{height:150px;width:180px;}
#theme04b .hbimg .p_img{max-height:130px;max-width:160px;}
#theme04b .imgd11 .hbimg{border: none;height: 280px;}
#theme04b .imgd11 .hbimg a{height: auto;}
#theme04b input[type=submit].btn1{background-color:#555;}
#theme04b .menusub ul li a:hover{color: #ff0;}
/*#theme04b .f-main{background:#662414 url(../images/theme02b/footer_bg.png) repeat-x top;}
#theme04b .lead_h1 h1{background:url(../images/theme02b/menu_bg.png) repeat-x left top;}*/
/*--------------pro-detail-------------------*/
.pdhme{float:left;width:100%;padding:0;}
.thumb-view{width:265px;margin: 2px 0 0;padding: 6px 0;text-align: center;}
.thumb-view img{border:1px solid #ccc;height:50px;max-width:70px;padding:1px}
.phimg .framehb .hbimg{border: none;width:300px;display: table-cell;vertical-align: middle;height: 280px;position: relative;}
.imgd11 img{max-height:250px;max-width:250px;}
.imgd11{border: 1px solid #ddd;}
.imgd11 .hbimg{border: none;}
.imgd11:hover .hbimg{border: none;}
.imgd11 a{height: auto;width: auto;vertical-align: inherit;}
.pdhme .p-item{height:auto ;width:265px; ;margin:0 ;float: left; }
.product-description{line-height:21px;width:285px;padding:0;line-height: 21px;float:right;}
.fblike{padding-top:10px}
.fblike iframe{border:0;width:100px;height:50px}
.pcdetails{width:100%;margin:15px 0;}
.product-details,.product-price{position:relative}
.product-details .p-item{border: none;}
.pd-name h1{font-size: 16px;color: #0E62AA;}
.pctemp{padding-top: 10px;}
.more_img img{max-width: 600px;_width:500px;}
.detail_lead{font-size: 14px;}
.sub2{color:#ff0000;font-size: 18px;}
.sub11{color:#DD4A3E;font-size: 14px;}
.addtocart{margin:0;}
.pn_img{position:relative}
.pn_img .has_prmo{background:url(../images/discount_bg.png) no-repeat;color:#FFF;font-size:16px;height:46px;position:absolute;right:5px;top:5px;width:64px;text-align:center;padding:15px 0 0;}
.d_border{border-top: 3px solid #ccc;padding-bottom: 5px;}
.p_cart{float: right;}
.p_pr{float: left;width: 50%;}
.p_sum2 *{margin: 0;}

.imgd11 .i_sale{display: inline;}
.pc_promo{padding: 10px 0 0;}
.pc_promo .bl6{padding-left: 0;}

.p_right{float: right;width: 200px;border: 1px solid #ccc;}
.p_similar{width: 98%;margin: 0 auto;padding: 5px 0;}
.lead_sb5{padding: 0 10px;line-height:29px;border: 1px solid #ccc;box-shadow: 0 0 5px #ccc;}
.ps_item{width: 96%;line-height: 21px;margin: 10px auto 0;padding-bottom: 10px;border-bottom: 1px dotted #ccc;}
.ps_item img{float: left;max-height: 80px;max-width: 80px;padding-right: 10px;}
.ps_item ul{padding-left: 15px;}

#list_hot{border: 1px solid #ccc;position: relative;}
#list_hot .pro_hots{width: 97%;margin: 0 auto;}
#list_hot .listal .p_item{border-bottom: none;}
#list_hot .next{top:120px;right: 3px;}
#list_hot .prev{top:120px;left: 3px;}
.navlist a{z-index: 5;width: 31px;height: 60px;background:url(../images/navi_h1.png) no-repeat right center;position: absolute;}
.navlist .prev{background:url(../images/navi_h1.png) no-repeat left center;}
.navlist a:hover{opacity: 0.6;}
/*---------------------------------*/
.p_item{float:left;margin:15px 0 0 11.5px;padding:0 2px;_display:inline;width:169px;line-height: 21px;text-align:center;}
.framehb{_float: left;padding:0;}
.framehb:hover .hbimg{opacity: 1;}
.hbimg{margin:0;padding: 0;line-height: normal;position: relative;}
.hbimg a{display: table-cell;vertical-align: middle;}
.hbdetails{margin:0 auto;padding:0;}
.p_img{max-height:250px;max-width:170px;_width:120px;_height: 120px;}
.p_name{display:block;margin:10px 0 0;height:30px;overflow:hidden;line-height: 15px;font-size: 12px;font-weight: bold;}
.p_id{display:block;margin:10px 0 0;height:21px;overflow:hidden;line-height: 21px;font-size: 12px;font-weight: bold;}
.p_sum{font-weight: normal;margin: 5px 0 10px;height:32px;overflow:hidden;line-height: 17px;}
.listal2 .p-item{margin:10px 28px 0;}
.listal2 .p-img{height: 100px;}
.p_price{overflow: hidden;color: #DF2910;font-weight: bold;padding: 0; font-size: 16px;}
.m_price{text-decoration: line-through;color: #555;}
.hinfo{margin:0 0 5px;}
.listal .last{padding-right: 0;border-right: 0;}
.i_star{padding: 5px 0 0;}

.p_item .i_sale,.imgd11 .i_sale{color:#fff;font-size:16px;font-weight:700;line-height:14px;position:absolute;text-transform:uppercase;top:0;left:0;z-index:2;background:url(../images/i_sale.png);width: 46px;height: 37px;padding: 10px 0 0 5px;text-align: left;}
.p_item:hover .i_sale{display: inline;}

a.button{background:none repeat scroll 0 0 #353535;border-bottom:1px solid #6D1602;border-radius:3px 3px 3px 3px;cursor:pointer;display:inline-block;font-size:11px;line-height:normal;text-decoration:none}
a.button span{color:#FFF;display:inline-block;padding:6px 14px}
a.button:hover{background:none repeat scroll 0 0 #C72803;border-color:#060606}
/*---------------------------------*/
.MagicZoom,.MagicZoom:hover{display:inline-block;outline:0!important}
.MagicZoom img{border:0!important;outline:0!important;margin:0!important;padding:0!important}
.MagicZoomHint{background:url(../images/hint.gif) no-repeat 2px 50%; text-indent: -9999px; color:#444;font-size:8pt;font-family:sans-serif;line-height:24px;min-height:24px;text-align:left;text-decoration:none;margin:0;padding:2px 2px 2px 20px !important}
.MagicZoomExternalTitle{display:none}
.MagicZoomBigImageCont{background:#fff;border:1px solid #999}
.MagicZoomBigImageCont *{display:inline}
.MagicZoomBigImageCont img{max-width:none!important;max-height:none!important;height:auto!important;width:auto!important}
.MagicZoomHeader{background:#666;color:#fff;font-size:10pt!important;line-height:normal!important;text-align:center!important}
.MagicZoomPup{background:#fff;border:1px solid #aaa;cursor:move}
.MagicZoomLoading{background:#fff url(../images/loader.gif) no-repeat 2px 50%;border:1px solid #ccc;color:#444;font-family:sans-serif;font-size:8pt;line-height:1.5em;text-align:left;text-decoration:none;margin:0;padding:4px 4px 4px 24px !important}
/* Style of shadow effect behind zoomed image */
.sub1 {
    color: #DF2910;
    font-weight: bold;
}
.txt_20 {
    font-size: 20px;
}
.pcdetails{width:100%;margin:15px 0;}
.product-details,.product-price{position:relative}
.product-details .p-item{border: none;}
.pd-name h1{font-size: 16px;color: #0E62AA;}
.pctemp{padding-top: 10px;}
.more_img img{max-width: 600px;_width:500px;}
.detail_lead{font-size: 14px;}
.sub2{color:#ff0000;font-size: 18px;}
.sub11{color:#DD4A3E;font-size: 14px;}
/*----------------tab-----------------*/
.usual{line-height: 19px;font-weight: bold;;}
.usual li{list-style:none;float: left;margin:0 3px 0 0;display:inline-block;}
.usual ul a{color: #555;text-align:center;line-height:29px;margin:0;display: block;padding: 0 10px;float: left;background: #eee;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;}
.usual ul a:hover,.usual ul a.selected{cursor:default;background:#555;color: #fff;}
.usual ul a:hover{cursor:pointer}
.tabus{clear:both;border:1px solid #ddd;padding:15px;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;display: none;}
.tabus_in *{max-width: 100%;}
/*****************nivo********************/
.btn_dat_hang {
    -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
    background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color:#ffc477;
    -webkit-border-top-left-radius:20px;
    -moz-border-radius-topleft:20px;
    border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    -moz-border-radius-topright:20px;
    border-top-right-radius:20px;
    -webkit-border-bottom-right-radius:20px;
    -moz-border-radius-bottomright:20px;
    border-bottom-right-radius:20px;
    -webkit-border-bottom-left-radius:20px;
    -moz-border-radius-bottomleft:20px;
    border-bottom-left-radius:20px;
    text-indent:0;
    border:1px solid #eeb44f;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:131px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #cc9f52;
    margin-top: 10px;
}
.btn_dat_hang:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
    background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color:#fb9e25;
}.btn_dat_hang:active {
     position:relative;
     top:1px;
 }